<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/images/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Rdio" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <nav class="mx-auto items-center justify-between p-6 lg:px-8 bg-green-700">
      <div class="hidden lg:flex lg:gap-x-12">
        <%= if @current_user do %>
          <span class="text-sm font-semibold leading-6 text-white">
            <%= @current_user.email %>
          </span>
          <.link class="text-sm font-semibold leading-6 text-white" href={~p"/users/settings"}>
            Settings
          </.link>
          <.link
            class="text-sm font-semibold leading-6 text-white"
            href={~p"/users/log_out"}
            method="delete"
          >
            Log out
          </.link>
        <% else %>
          <.link class="text-sm font-semibold leading-6 text-white" href={~p"/users/register"}>
            Register
          </.link>
          <.link class="text-sm font-semibold leading-6 text-white" href={~p"/users/log_in"}>
            Log in
          </.link>
        <% end %>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
